/* Reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
  height: 100%;
}
body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* <------------------Parts---------------> */

/* Header */
.header{
  background-color: #f0f2fa;
}
.header__body{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__body .logo{
  position: relative;
}
.header__body .logo img {
  position: absolute;
  top: 2px;
  right: 120px;
  width: 85px;
  height: auto;
}
.header__body .logo h1{
  display: flex;
  flex-direction: column;
  font-size: 35px;
  font-weight: bold;
  color: #79be00;
  line-height: 0.9;
}
.header__body .logo h1 span{
  font-size: 30px;
  color: #db5c4c;
}
.header__body .сontact ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__body .сontact ul li:first-child {
  margin-right: 20px;
}
.header__body .сontact ul li a {
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  background-color: #79be00;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
.header__body .сontact ul li a:hover {
  background-color: #8cc032;
}
.header__body .сontact ul li:last-child a {
 background-color: #db5c4c;
}
.header__body .сontact ul li:last-child a:hover{
 background-color: #da7264;
}

/* Navigation */
.navigation{
  background-color: #1270b2; 
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.navigation  ul.menu {
  display: flex;
  justify-content: center;
}
.navigation  ul.menu li a.home {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-style: 20px;
  padding: 10px 0;
}
.navigation  ul.menu li a.home:hover {
  color: #79be00;
}
.navigation ul.menu > li{  
  height: 50px;  
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
}
.navigation ul.menu > li:hover{ 
  color: #79be00;
}
.navigation ul.menu li:last-child{
  margin-right: 0;
}
.navigation  ul.submenu{  
  width: 250px;
  position: absolute;  
  top: 100%;
  left: 0;
  z-index: 999; 
  display: none;  
  flex-direction: column;
  align-items: center;
  background-color: #1270b2; 
  border: 3px #fff solid; 
}
.navigation ul.submenu li {  
  width: 100%;
  text-align: center;  
  border-bottom: 2px #fff solid;
}
.navigation  ul.submenu a{    
 display: block;
 width: 100%; 
 padding: 10px 0;
 text-decoration: none;
 color: #fff;
}
.navigation  ul.submenu a:hover{    
 color: #79be00;
}
.navigation ul.menu li:hover > ul.submenu {
  display: flex; 
 }

/* Main */
main{
  flex-grow: 1;
  background-color: #fff;
}

/* Footer */
.footer{
  background-color: #f0f2fa;
}
.footer__body{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #1270b2;
} 

 /* Line */
.line {
  line-height: 1em;
  position: relative;
  border: 0;
  color: #1270b2;
  text-align: center;
  height: 1.5em;
  font-size: 21px;
  font-weight: bold;
}
.line:before {
  content: '';
  background: linear-gradient(to right, transparent, rgba(0,0,0,0.5), transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.line:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 .5em;
  line-height: 1.5em;
  background-color: #fff;
}
/* Actual Price */
.actual__price{
	display: flex;
	align-items: center;
	justify-content: center;
  text-align: center;
	height: 40px;
	width: 100%;
	font-size: 21px;
}
.actual__price span{
	color: #db5c4c;
	font-size: 30px;
}

/* Сart Products */
.cart__products{
	margin: 30px 0;
}
.wrap__cart__products {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.product__item {
	position: relative;
	margin: 10px 15px;
	width: 300px;
	height: 400px;
	text-align: center;
	border: 3px solid rgba(0, 0, 0, 20%);
	background-color: #fff;
	border-radius: 10px;
	cursor: pointer;
 }
 .product__item:hover {
	border: 3px solid #1270b2;
 }
 .product__item img {
	max-height: 120px;
	width: auto;
 }
 .product__item h3 {
	font-size: 18px;
	font-weight: 400;
	color: #1270b2;
  text-transform: uppercase;
  font-weight: bold;
	padding: 10px 0;
	line-height: 1.2;
 }
 .product_list{
	 text-align: left;
	 padding: 15px;
	 line-height: 1.3;
	 font-size: 14px;
	 border-top: 1px solid rgba(0, 0, 0, 20%);
 }
 .product__buy{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top: 1px solid rgba(0, 0, 0, 20%);
 }
 .product__buy .price {
	font-size: 20px;
	color: #1270b2;
	display: block;
 }
 .product__buy a{
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	padding: 0 12px;
	background-color: #1270b2;
	color: #f0f2fa;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 28px;
 }
 .product__buy:hover a{
	background-color: #cccccc;
	color: #2b2b2b;
 }
 .product__item .new{
	display: inline-block;
	position: absolute;
	top: 60px;
	right: 0px;
 }
 .product__item .new img{
	width: 80px;
	height: auto;
 }



/* <---------------------Pages--------------------> */

/* Index Page */
.slider{
  padding: 30px 0;
}
.about .head , .service .head, .location .head{
  height: 50px;  
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1270b2;
}
.about .head h1 , .service .head h1, .location .head h1{
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 1.2;
}
.about .main, .service .main{
  padding: 15px;
}
.about .main p , .service .main p{
  text-align: justify;
  line-height: 1.5;
  font-weight: bold;
  font-size: 18px;
  color: #1270b2;
}
/* Stihl Pulu */
.stihl__pulu .product__item{
	height: 345px;
 }
/* STIHL Motokosu */
.stihl__motokosu .product__item img{
  max-height: 200px;
}
 /* STIHL Gazonokosarku */
 .stihl__gazonokosarku .product__item img{
	max-height: 195px;
 }
 /* STIHL Aeratoru */
 .stihl__aeratoru .product__item img{
	max-height: 195px;
 }
  /* STIHL Muyku */
  .stihl__muyku .product__item  img{
    max-height: 195px;
   }
   .stihl__muyku .product__item .product_list{
    padding: 5px 15px;
   }
 /* STIHL Povitrodyuku */
 .stihl__povitrodyuku .product__item{
	height: 310px;
 }
 /* Makita Druli */
.makita__druli img{
	max-height: 140px;
}
.makita__druli .product__item{
  height: 360px;
}
/* Makita Perferatoru */
.makita__perferatoru img{
	max-height: 140px;
}
/* Makita Kutovi Shlifmashunu */
.makita__kutovi__shlifmashunu img{
 	max-height: 160px;
}
/* Makita  Shlifmashunu */
.makita__shlifmashunu img{
 	max-height: 170px;
}
.makita__shlifmashunu .product__item{
 	height: 380px;
}
/* Makita Shurupovertu */
.makita__shurupovertu .product__item.change{
	height: 370px;
}
/* Makita Shlifmashunu */
.makita__shlifmashunu img{
	max-height: 170px;
}
/* Makita Pulku */
.makita__pulku img{
	max-height: 170px;
}
.makita__pulku .product__item{
  height: 360px;
}
/* Makita Lobzuku */
.makita__lobzuku img{
	min-height: 130px;
}
.makita__lobzuku .product__item{
  height: 360px;
}
/* Makita Frezeru */
.makita__frezeru img{
	min-height: 140px;
}
.makita__frezeru .product__item{
	height: 350px;
}
/* Metabo Perferatoru */
.metabo__perferatoru .product__item{
	height: 350px;
}
/* Metabo Kutovi Shlifmashunu */
.metabo__kutovi__slifmashunu .product__item{
	height: 350px;
}
/* Metabo  Shlifmashunu */
.metabo__shlifmashunu .product__item{
	height: 350px;
}
/* Metabo  Pulku */
.metabo__pulku img{
	max-height: 150px;
}
/* Metabo  Lobzuku */
.metabo__lobzuku .product__item{
	height: 350px;
}
/* Metabo  Gaykovertu */
.metabo__gaykovertu img{
	max-height: 150px;
}
/* Metabo  Termofenu */
.metabo__termofenu .product__item{
	height: 350px;
}
.metabo__termofenu img{
	max-height: 150px;
}
/* Metabo  Kompresoru */
.metabo__kompresoru .product__item{
	height: 360px;
}



@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }  
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

@media (max-width: 650px) {
  .container{
    padding: 0;
  }
   /* Header */
   .header__body{
    height: 220px;
    flex-direction: column;
    justify-content: space-around;
  }
  .header__body .сontact ul {
   flex-direction: column;
  }
  .header__body .сontact ul li:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header__body .сontact ul li {
    width: 250px;
  }
  .header__body .сontact ul li a {
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    font-size: 16px;
  }
  
  /* Navigation */
  .navigation{
    font-size: 25px;
  }
  .navigation li{
    width: 100%;
  }
  .navigation  ul.menu {
    flex-direction: column;
  }  
  .navigation ul.menu > li{ 
    display: flex;
    flex-direction: column;
    align-items:  center;
    height: auto;
    margin-right: 0;
    border-bottom: 8px solid #f0f2fa;
  }
  .navigation ul.menu  li span{ 
    padding: 10px 0;
  }
  .navigation  ul.submenu{ 
    position: static;
    width: 100%;
    border: none;
  }
  .navigation  ul.submenu li{ 
    border: none;
    text-transform: uppercase;
    font-size: 20px;
  }
	/* Cart Category */
	.category__item h3{
		font-size: 15px;
	}
	/* Line */
	.line{
		font-size: 16px;
	}
  	/* Actual Price */
	.actual__price {
		height: 60px;
		font-size: 16px;
	}
	.actual__price span{
		font-size: 20px;
	}

/* <--------------Pages---------> */

  /* Index Page */
  .about .head {
    height: 100px;
  }
  .about .main p , .service .main p{
    line-height: 1.2;
  }
}