/* Reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fonts */
@font-face{
  font-family: 'Times New Roman';
  src: url(../fonts/TimesNewRoman.ttf);
}
html,
body {
  height: 100%;
  width: 100%;
  color: #d3d3d3;
}
body{
  background-image: url('../img/main.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Times New Roman';
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 20px;
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__logo  {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;  
  width: 200px;
  height: 60px;
  font-size: 38px;
  font-weight: bold;
  line-height: 0.8;
}
.header__logo .world {
  position: absolute;
  top: 2px;
  left: 0;
  color: #d4a207;
  text-align: center;
  font-size: 18.6px;
}
.header__logo .prom{
  position: absolute;
  top: 0;
  right: 73px;
  color: #f9b207;
}
.header__logo .instrument{
  position: absolute;
  bottom: 0;
  right: 0;
  color: #d3d3d3;
}
.header__logo img{
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: auto;
}

.header__menu ul{
  display: flex;
  position: relative;
  z-index: 3;
}
.header__menu ul li {
  list-style: none;
  margin-left: 35px;
}
.header__menu ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #d3d3d3;
}
.header__menu ul li a.active{
  color: #d4a207;
}
.header__menu ul li a:hover{
  color: #d4a207;
}
.header__burger {
  display: none;
}
/* Main */
main{
  background-color: rgba(0, 0, 0, 0.7);
}
/* Home */
.home {
  padding-top: 80px;
}
.home .wrapper{
  width: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.home .card{
  width: 320px;
  height: 300px;
  margin-bottom: 20px;
  border: 4px #d4a207 outset;
  border-radius:5px ;
  background-color: rgba(0, 0, 0, 0.7)
}
.home .card__head{
  display: flex;
  height:100px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.home .card__circle{
  position: relative;
  width: 75px;
  height: 75px;
  border: 3px #d4a207 outset ;
  border-radius: 50%;
}
.home .card__circle i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.home .card h2 {
  text-align: center;
}
.home .card__info{
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;  
  font-size: 20px;
}
.home .card__info a{
  text-decoration: none;
  color: #d4a207;
}
.home .card__info ul{
  list-style-type: none;
}
.home .card__info ul li span{
  color: #d4a207;
}
.home .card__info.contact{
  flex-direction: column; 
}
.home .card__info.contact a{
  padding-bottom: 10px;
}
/* Tools */
.tools .wrapper{
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 4px #d4a207 outset;
  border-radius:5px ;
  background-color: rgba(0, 0, 0, 0.7)
}
.tools .cards__head{
  display: flex;
  height:100px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.tools .cards__circle{
  position: relative;
  width: 75px;
  height: 75px;
  border: 3px #d4a207 outset ;
  border-radius: 50%;
}
.tools .cards__circle i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.tools .wrapper h2{
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
.tools .wrapper__cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.tools .card{
  width: 260px;
  padding: 20px;
}
.tools .card h3{
  color: #d4a207;
}
.tools .card ul{
  list-style-type: none;
}
.tools .card ul li i{
  color: #806204;
  padding-right: 5px;
}
.tools .brands{
  width: 80%;
  padding: 20px 0;
}
.tools .brands ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  color: #d4a207;
  text-transform: uppercase;
}
.tools .brands ul li{
  cursor: pointer;
  padding:0 10px;
}
.tools .brands ul li:hover{
  color: #806204;
}
/* Delivery */
.delivery .title{
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  margin-top: 20px;
  border: 4px #d4a207 outset;
  border-radius:5px ;
  background-color: rgba(0, 0, 0, 0.7)
}
.delivery .wrapper{
  width: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.delivery .card{
  width: 320px;
  height: 300px;
  margin-bottom: 20px;
  border: 4px #d4a207 outset;
  border-radius:5px ;
  background-color: rgba(0, 0, 0, 0.7)
}
.delivery .card__head{
  display: flex;
  height:100px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.delivery .card__circle{
  position: relative;
  width: 75px;
  height: 75px;
  border: 3px #d4a207 outset ;
  border-radius: 50%;
}
.delivery .card__circle i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.delivery .card h2 {
  text-align: center;
}
.delivery .card__info{
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 15px;  
  font-size: 20px;
}
.delivery .card__info a{
  text-decoration: none;
  color: #d4a207;
}
.delivery .card__info span{
  color: #d4a207;
}
/* Service */
.service .wrapper{
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 4px #d4a207 outset;
  border-radius:5px ;
  background-color: rgba(0, 0, 0, 0.7)
}
.service .wrapper .card__head{
  display: flex;
  height:100px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.service .wrapper .card__circle{
  position: relative;
  width: 75px;
  height: 75px;
  border: 3px #d4a207 outset ;
  border-radius: 50%;
}
.service .card__circle i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.service h2{
  text-align: center;
}
.service p{
  text-align: justify;
  padding: 10px 30px;
  font-size: 18px;
}
.service  a{
  text-decoration: none;
  color: #d4a207;
  font-size: 20px;
}
.service ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.service ul li{
  display: flex;
  align-items: center;
}
.service  ul li i{
 padding: 30px 0;
 padding-right:10px;
}
.service  ul li a{
  text-decoration: none;
  color: #d4a207;
  font-size: 20px;
}
/* Footer */
.footer{
  width: 100%;
  height: 80px;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}
.footer .wrapper{
 height: 60px;
 background-color: rgba(0, 0, 0, 0.9);
}


@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 70px 10px 20px 10px;
    z-index: 4;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__menu ul{
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__menu ul li {
    margin: 0 0 50px 0; 
  }
  .header__menu ul li a{
    font-size: 28px; 
  }
  /* Home */
  .home .wrapper{
    flex-direction: column;
  }
  /* Delivery */
  .delivery .wrapper{
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  /* Tools */
  .tools .wrapper{
    width: 320px;
  }
  /* Delivery */
  .delivery .title{
    width: 320px;
  }
  /* Service */
  .service .wrapper{
    width: 320px;
  }
  .service ul{
    flex-direction: column;
    align-items: center;
  }
  .service ul li{
    padding: 10px 0;
  }
  .service ul li i {
    padding-top: 0;
    padding-bottom: 0;
  }
  .service ul li:first-child i{
    padding-right: 35px;
  }
  .service p{
    text-align: justify;
    word-break: break-all;  
  }
}